// COLORS
$color-primary: #fff;
$color-primary-light: #fff;
$color-primary-dark: #fff;

$color-secondary-light: #fff;
$color-secondary-dark: #fff0;

$color-tertiary-light:#fff;
$color-tertiary-dark: #fff;

$color-grey-light-1: #fff;
$color-grey-light-2:#fff;

$color-grey-dark: #fff;
$color-grey-dark-2: #fff;
$color-grey-dark-3: #fff;

$color-white: #fff;
$color-black: #fff;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$grid-space-vertical: 8rem;
$grid-space-horizontal: 6rem;